<dx-toolbar [items]="toolbarContent" id="toolbar"></dx-toolbar>
<dx-drawer
  openedStateMode="shrink"
  position="left"
  revealMode="slide"
  template="template"
  [(opened)]="isDrawerOpen"
  [height]="400"
  [closeOnOutsideClick]="true"
>
  <p>Teste</p>
  <div *dxTemplate="let data of 'template'" style="width: 200px">
    <dx-list
      class="panel-list"
      [dataSource]="navigation"
      [hoverStateEnabled]="false"
      [activeStateEnabled]="false"
      [focusStateEnabled]="false"
    >
    </dx-list>
  </div>
</dx-drawer>
